/*---------- 404 ----------*/
.logo {
    text-align: center;
    margin: 60px auto;
}

.noFound {
    text-align: center;
}

footer {
    height: 222px;
    background: url("../images/wangyi/404_bg.png");
    position: absolute;
    width: 100%;
}