/*---------- head ----------*/
#head {
    border-bottom: 1px solid #f3f3f3;
    box-shadow: 0 2px 2px #f3f3f3;
}

#head .head {
    background: #333333;
    font-size: 12px;
    line-height: 36px;
}

#head .head .left {
    color: #cccccc;
}

#head .head li {
    float: left;
    position: relative;
    z-index: 2;
}

#head .head li a {
    color: #cccccc;
    border-left: 1px solid #5c5c5c;
    padding: 0 10px;
}

#head .head li a:hover {
    color: #ffffff;
}

#head .right .noBorder {
    border: none;
}

#head .margin {
    margin-right: 10px;
}

#head .customer {
    padding-right: 10px;
    margin-right: 10px;
    background: url("../images/wangyi/customer_bg1.gif") 68px center no-repeat;
}

#head .customer:hover {
    background: url("../images/wangyi/customer_bg2.gif") 68px center no-repeat;
}

#head .customer ul {
    position: absolute;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    display: none;
}

#head .customer:hover ul {
    display: block;
}

#head .customer ul li {
    float: none;
    padding: 0;
}

#head .customer ul:before, #head .down div:before {
    width: 10px;
    height: 6px;
    content: '';
    display: block;
    background: url("../images/wangyi/ico_02.png");
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -6px;
}

#head .customer ul a {
    display: block;
    border-left: none;
    border-bottom: 1px solid #dddddd;
    margin: 0 10px;
    padding: 0;
    text-align: center;
    color: #999999;
}

#head .customer ul a:hover {
    color: #b4a078;
}

#head .customer ul a.noBorder {
    border: none;
}

#head .customer ul li.phone {
    background: url("../images/wangyi/phone_bg1.gif") 62px center no-repeat;
}

#head .customer ul li.phone:hover {
    background: url("../images/wangyi/phone_bg2.gif") 62px center no-repeat;
}

#head .customer ul li.phone:hover div {
    display: block;
}

#head .customer ul li.phone div {
    position: absolute;
    width: 110px;
    height: 57px;
    right: -110px;
    top: 0;
    line-height: 20px;
    background: #ffffff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none;
}

#head .customer ul li.phone div p:nth-child(1) {
    font-size: 14px;
    color: #999999;
    margin-top: 12px;
}

#head .customer ul li.phone div p:nth-child(2) {
    color: #999999;
}

#head .down .app {
    padding-left: 25px;
    background: url("../images/wangyi/ico_01.png") 10px center no-repeat;
}

#head .down:hover div {
    display: block;
}

#head .down div {
    position: absolute;
    padding: 10px;
    border: 1px solid #dddddd;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    left: -25px;
    line-height: 20px;
    display: none;
    background: #ffffff;
}

#head .down div span {
    color: #b4a078;
}

/*---------- 搜索search ----------*/
.search {
    margin: 40px 0;
}

.search .center {
    position: relative;
    height: 60px;
}

.search h1 {
    position: absolute;
    left: 50%;
    margin-left: -90px;
}

.search .searchBox {
    float: right;
    height: 25px;
    margin: 16px 40px 0 0;
    font-size: 0;
}

.search .searchBox input {
    font-size: 12px;
    width: 250px;
    height: 24px;
    line-height: 24px;
    border: none;
    border-bottom: 1px solid #d8cebc;
    color: #b4a078;
    outline: none;
}

.search .searchBox a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/wangyi/ico_03.gif");
    vertical-align: middle;
}

/*---------- 导航 ----------*/
.nav {
    position: relative;
    background: #ffffff;
}

.nav .center {
    position: relative;
}

.nav .logo, .nav .login {
    display: none;
}

.navBar, .nav .subNav {
    font-size: 0;
    text-align: center;
}

.navBar li, .nav .subNav li {
    font-size: 14px;
    display: inline-block;
    padding: 0 30px;
    height: 50px;
}

.navBar li.separate {
    padding: 0;
    color: #cccccc;
}

.navBar li a {
    font-weight: bold;
    padding-bottom: 5px;
}

.navBar li a:hover, .navBar li.active a {
    border-bottom: 3px solid #b4a078;
}

/*---------- 购物车父级样式 ----------*/
.cartWrap {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../images/wangyi/ico_04.gif");
    right: 0;
    top: -80px;
    cursor: pointer;
}

.cartWrap i {
    font: 12px/20px "微软雅黑";
    position: absolute;
    color: #ffffff;
    background: #d4282d;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    top: -12px;
    right: -12px;
}

/*---------- 购物车 ----------*/
.cartWrap .cart {
    width: 328px;
    border: 1px solid #b5a176;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 30px;
    right: -22px;
    background: #ffffff;
    padding-top: 15px;
    display: none;
    z-index: 10;
}

.cartWrap .cart:before {
    content: '';
    display: block;
    width: 12px;
    height: 8px;
    background: url("../images/wangyi/ico_17.gif");
    position: absolute;
    top: -8px;
    right: 24px;
}


.cartWrap .list {
    height: 244px;
    position: relative;
    overflow: hidden;
}

.cartWrap ul {
    padding-left: 15px;
    position: absolute;
    left: 0;
    top: 0;
}

.cartWrap li {
    height: 60px;
    margin-bottom: 10px;
    font: 12px/25px "微软雅黑";

}

.cartWrap .img {
    float: left;
}

.cartWrap img {
    width: 60px;
    height: 60px;
    background: #f4f4f4;
}

.cartWrap .message {
    width: 145px;
    float: left;
    padding: 5px 0 5px 10px;
    /*font: 12px/25px "微软雅黑";*/
}

.cartWrap .message p:nth-child(1) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cartWrap .message p:nth-child(2) {
    color: #c5c5c5;
}

.cartWrap .price {
    float: left;
    padding-top: 5px;
    width: 55px;
    /*font: 12px/25px "微软雅黑";*/
    color: #b62628;
}

.cartWrap .close {
    float: left;
    width: 26px;
    font-size: 16px;
    padding-top: 5px;
}

/*---------- 滚动条样式 ----------*/
.cartWrap .scrollBar {
    float: right;
    width: 17px;
    height: 244px;
    background: #f1f1f1;
}

.cartWrap .scrollBar span {
    display: block;
    width: 17px;
    height: 17px;
}

.cartWrap .scrollBar .topBtn {
    background: url("../images/wangyi/topBtn_bg.gif") 0 0;
}

.cartWrap .scrollBar .topBtn:hover {
    background: url("../images/wangyi/topBtn_bg.gif") 0 -34px;
}

.cartWrap .scrollBar .topBtn:active {
    background: url("../images/wangyi/topBtn_bg.gif") 0 -51px;
}

.cartWrap .scrollBar .bottomBtn {
    background: url("../images/wangyi/bottomBtn_bg.gif") 0 0;
}

.cartWrap .scrollBar .bottomBtn:hover {
    background: url("../images/wangyi/bottomBtn_bg.gif") 0 -34px;
}

.cartWrap .scrollBar .bottomBtn:active {
    background: url("../images/wangyi/bottomBtn_bg.gif") 0 -51px;
}

.cartWrap .sliderWrap {
    height: 210px;
    position: relative;
}

.cartWrap .sliderWrap .slide {
    width: 17px;
    height: 50px;
    background: #c1c1c1;
    position: absolute;
}

.cartWrap .sliderWrap .slide:hover {
    background: #a9a9a9;
}

.cartWrap .sliderWrap .slide:active {
    background: #787878;
}

.cartWrap .total {
    background: #f4f0ea;
    height: 66px;
    font: 12px/66px "微软雅黑";
    text-align: center;
}

.cartWrap .total span {
    color: #c04646;
}

.cartWrap .total a {
    display: inline-block;
    width: 110px;
    height: 36px;
    line-height: 36px;
    background: #b4a078;
    color: #ffffff;
    margin-left: 20px;
    border-radius: 2px;
}

.cartWrap .total a:hover {
    opacity: 0.8;
}

/*---------- 弹出导航样式 ----------*/
.nav .subNav {
    box-shadow: 0 6px 6px #ececec;
    position: absolute;
    top: 50px;
    z-index: 2;
    background: #ffffff;
    width: 100%;
    transition: opacity 0.3s ease-out;
}

.nav .subNav ul {
    display: none;
    padding: 10px 0 20px 0;
}

.nav .subNav ul li {
    height: auto;
}

.nav .subNav img {
    display: block;
    margin: 0 auto;
}

/*---------- 吸顶导航样式 ----------*/
#navFix {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    animation: navMove 0.3s;
}

@keyframes navMove {
    0% {
        top: -60px;
    }
    100% {
        top: 0;
    }
}

#navFix .logo {
    display: block;
    float: left;
    margin: 14px 40px 0 0;
}

#navFix .navBar {
    float: left;
}

#navFix .navBar li {
    padding: 0 20px;
    line-height: 60px;
    height: 60px;
}

#navFix .login {
    float: right;
    display: block;
    height: 60px;
    line-height: 60px;
}

#navFix .login a {
    margin-right: 20px;
    color: #666666;
}

#navFix .cartWrap {
    position: relative;
    float: right;
    top: 20px;
}

#navFix .navBar li:nth-last-child(1),
#navFix .navBar li:nth-last-child(2),
#navFix .navBar li:nth-last-child(3) {
    display: none;
}
